* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f8f8f8;
  line-height: 1.5;
}

h1, h2, h3 {
  color: #4b2e83;
  margin-top: 0;
}

a {
  color: #85754d;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

header {
  background-color: #4b2e83;
  color: #ffffff;
  padding: 0 0 1.5rem 0;
  text-align: center;
}

.purchase-header {
  background-color: #4b2e83;
  color: #ffffff;
  padding: 0 0 0 0;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

header p {
  font-size: 1.25rem;
  margin: 0.5rem 0 0;
}

.app-name {
  color: #f9e6b6;
  font-size: 3rem;
  font-family: 'Irish grover';
}

.app-name a {
  color: #f9e6b6;
  text-decoration: none;
}

.app-name a:hover {
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

section {
  margin-bottom: 2rem;
}

section h2 {
  border-bottom: 2px solid #4b2e83;
  padding-bottom: 0.5rem;
}

ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  color: #555;
}

ul li {
  margin: 0.5rem 0;
}

footer {
  background-color: #4b2e83;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}

.references ul {
  padding-left: 1.5rem;
}

.references ul li {
  margin: 0.5rem 0;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

#purchase-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  flex-grow: 1;
}

#form {
  padding: 0.5rem;
  height: 800px;
  width: 30rem;
}

.product-image {
  width: 200px;
}

.product-name {
  font-size: 1.5em;
  margin: 0;
  font-weight: lighter;
}

.price {
  margin: 0;
  font-size: 1em;
  font-weight: bolder;
  border-bottom: 2px solid #4b2e83;
  padding-bottom: 0.5em;
}

#payment {
  padding: 0.5rem;
  width: 15em;
  height: 300px;
}

.paybtn {
  margin: 0.5em;
  width: 200px;
  padding: 0.5em;
}

.payimg {
  width: 10em;
  height: 3em;
}

.cc {
  width: 3em;
  height: 3em;
}

.confirm {
  color:#f9e6b6;
  background-color: #4b2e83;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  border-radius: 12px;
  width: 8em;
}

.confirm:hover {
  color:#f9e6b6;
  background-color: #301d54;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  border-radius: 12px;
  width: 8em;
}

.card a {
  display: block;
  text-decoration: none;
  color: #4b2e83;
  font-weight: bold;
  margin-top: 1rem;
}

.card a:hover {
  text-decoration: underline;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}